*.pyc
__pycache__

.coverage
.pytest_cache

target/
environment.sh

# Mac
*.DS_Store
.env*

celerybeat-schedule

# CloudFoundry
.cf

# MonkeyType
monkeytype.sqlite3

/scripts/run_my_tests.sh
.vscode

!.env.example

# Ruff cache
.ruff_cache/