# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==1.0.3
Flask-Env==2.0.0

boto3==1.16.28

python-dotenv==0.10.3
python-magic==0.4.15

# PaaS

gunicorn==20.0.4
eventlet==0.28.0

awscli-cwlogs>=1.4.6,<1.5

gds-metrics==0.2.0

git+https://github.com/cds-snc/notifier-utils.git@43.2.2#egg=notifications-utils

socketio-client==0.5.6
requests
requests[security]
pycryptodome

git+https://bitbucket.org/cse-assemblyline/assemblyline_client.git@v3.7.3#egg=assemblyline_client==v3.7.3

pyyaml>=5.4 # not directly required, pinned by Snyk to avoid a vulnerability
