# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==2.2.2
Flask-Env==2.0.0

python-dotenv==0.21.0
python-magic==0.4.27

# PaaS

gunicorn==20.1.0
gevent==22.10.2

awscli-cwlogs==1.4.6

git+https://github.com/cds-snc/notifier-utils.git@50.1.0#egg=notifications-utils

requests
requests[security]
pycryptodome
