# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==2.2.2
Flask-Env==2.0.0

python-dotenv==0.21.0
python-magic==0.4.27

# PaaS

gunicorn==20.1.0
eventlet==0.33.2

awscli-cwlogs==1.4.6

#git+https://github.com/cds-snc/notifier-utils.git@48.3.0#egg=notifications-utils
git+https://github.com/cds-snc/notifier-utils.git@66de4f46ae18207ad36c16fbb84f5c1e032db017#egg=notifications-utils # temporarily adding the upgraded utils all-minor PR

requests
requests[security]
pycryptodome
